<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favico.png" type="image/x-icon">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/marvel-style.css">
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/jquery-1.9.1.min.js"></script>
  <title>Welcome to Explore API Marvel </title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/bootstrap.bundle.min.js"></script>
</head>

<body class="demo">

	<header>
		<div class="inner">
			<div class="logo"><img src="../Marvel-Logo.jpg"></div>
			<div class="burger"></div>
			<nav>
				<a class="active" href="#">Marvel</a>
				<a href="#">Characters</a>
				<a href="#">Comics</a>
				<a href="#">About</a>
			</nav>
			<a href="#" class="donate-link">Donate</a>
		</div>
	</header>

  <!-- Loading page -->
  <div id="loader-wrapper">
    <div id="loader">
      <img src="marvel.gif" style="width: 100rem; height:100 rem;" class="card-img-top" alt="...">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

  <!-- Cards -->
  <div style="width: 100%" id="main" class="animate-bottom">

    <div class="card text-center" style="width:20rem;">
      <img src="characters.jpg" style="height:20rem;" class="card-img-top"
        alt="Get hooked on a hearty helping of heroes and villains from the humble House of Ideas!">
      <div class="card-body">
        <h5 class="card-title">Character</h5>
        <p class="card-text">Get hooked on a hearty helping of heroes and villains from the humble House of Ideas!</p>
        <a href="characters" class="btn btn-dark">Got it</a>
      </div>
    </div>

    <div class="card text-center" style="width:20rem;">
      <img src="comics.jpg" style="height:20rem;" class="card-img-top"
        alt="See your best selling digital Ccomicsand enjoy with your heroes ">
      <div class="card-body">
        <h5 class="card-title">Comics</h5>
        <p class="card-text">See your best selling digital Ccomicsand enjoy with your heroes .</p>
        <a href="#" class="btn btn-dark">Got it</a>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>

</html>